body {
    background-color:#bcefff;
}
h1 {
   color: #595ba6;
   font-family: verdana;

}
button {
    color:#f6f3f6;
    background-color:#ab4e87 ;
}
p {
    color: #0d106b;
    font-family: verdana;

}